
h1 {
    font-size: 2rem;
    font-family: sans-serif;
    color: grey;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


.description {
    width: 35%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: black;
}


.text1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: black;
}


main {
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 40px;
    height: 50vh;
}


footer {
    color: #fff;
    background-color: #2b5b84;
    border-top: 1px solid #d8dbde;
    text-align: center;
    padding: 50px;
}

/* (Responsive) */